Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
SourceAssets/StarterContent
Builds
Releases
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace